.about {
	width: 100%;
	position: relative;
	background: #fff url(/assets/pattern.jpg);
	margin-top: 70px;
	padding-bottom: 11rem;
}

.about-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 440px) {
	.about-row {
		flex-direction: column;
	}
}

@media (min-width: 441px) and (max-width: 768px) {
	.about-row {
		flex-direction: column;
	}
}

.about-row>div {
	width: 50%;
}

@media (max-width: 440px) {
	.about-row>div {
		width: 100% !important;
	}
}

.about-us {
	display: flex;
	width: 45% !important;
	padding-left: 1rem;
}

@media (max-width: 440px) {
	.about-us {
		width: 100% !important;
		padding-right: 1rem;
	}

	.about-us-main {
		padding: 0 1rem;
	}
}

@media (min-width: 441px) and (max-width: 768px) {
	.about-us {
		width: 100% !important;
		padding-right: 1rem;
	}
}

.about-us-content-image {
	align-items: end;
	margin-top: -20px;
}

@media (min-width: 1709px) {
	.about-us-content-image {
		display: flex;
	}
}

.about-us-content-text>h4 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 46px;
	color: var(--dark-400);
}

.about-us-content-text>h4>span {
	color: var(--primary);
}

.about-us-content-text>p {
	color: var(--black);
	text-align: justify;
	line-height: 20px;
}

/* Team Component*/
.about-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-team>h4 {
	font-size: 20px !important;
	font-family: 'Poppins' sans-serif !important;
	color: var(--black);
	font-weight: 700 !important;
	line-height: 46px;
	text-align: center;
	margin-bottom: 30px;
}

.team-admin {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

@media (max-width: 440px) {
	.team-admin {
		flex-direction: column;
	}
}

.team {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.team-description {
	text-align: center;
}

.team-description>img {
	width: 130px;
	height: 130px;
	object-fit: cover;
	background: linear-gradient(white, white) padding-box,
		linear-gradient(180deg, #0471fe 0%, #394bd1 10%) !important;
	border-radius: 50em !important;
	border: 4px solid transparent !important;
	border-radius: 50%;
}

.team-description>h4 {
	font-weight: 700;
	font-size: 0.938rem;
	line-height: 20px;
	color: var(--black);
	margin-top: 0.5rem;
}
