*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

html {
    overflow-x: hidden;
}

:root {
    --white: #ffffff;
    --gray-100: #f6f6f6;
    --gray-800: #757575;
    --dark-400: #4a4a4a;
    --dark-600: #292929;
    --dark-900: #101010;
    --primary: #1c76bb;
    --heading: #374957;
    --black: #000000;
    --swiper-navigation-size: 44px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    appearance: textfield;
}

a {
    text-decoration: none !important;
    font-family: "Poppins", sans-serif !important;
}

button {
    border: none;
    outline: none;
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
}

span {
    color: var(--primary);
    font-weight: 700;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif !important;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Poppins", sans-serif !important;
}

body {
    font-family: "Poppins", sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.container-custom {
    width: 100% !important;
    max-width: 1790px !important;
    margin: 0 auto;
}